.danger{
    border:1px solid red;
}

.row{
    flex-direction:row;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.pointeable{
    cursor:pointer;
}

.col{
    flex-direction:column;
    display:flex;
    justify-content: space-between;
    align-items: center;
}