.studentsList .item{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cont{
    display:flex;
    flex-direction: row;
    margin-top:10px;
    height:75%;
    border:1px solid black;
    border-radius:6px;
    padding:10px;
}

.cont .col{
    width:50%;
    height:100%;
    overflow:auto;
}

.cont .right{
    padding:10px;
}

.studentsList{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.col.left{
    padding:10px;
}